<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}<title>Posts</title>{% endblock titulo %}
</head>

<body>

{% block body %}

    {% for i in posts %}
    <div class="pene">

        <h1>{{ i.Nombre }}</h1>
        <p>{{ i.Pais }}</p>
        <p>{{ i.gusta_hacer }}</p>
        <p>{{ i.si_o_no }}</p>
        <p>{{ i.que_piensas }}</p>
        <p>{{ i.fecha_post }}</p>

    </div>

    <br>
    {% endfor %}

{% endblock body %}

</body>

</html>